:root {
  --cor-fundo: rgb(34, 41, 37);
  --cor-hover: rgb(118, 180, 145);
  --cor-primaria: rgb(231, 241, 236);
}


 .menu .nav-list {
  list-style-type: none;
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
  padding: 0;
}

.menu .nav-list {
  background-color: var(--cor-fundo);
  
}

.menu .nav-list li {
  text-align:center;
  margin: 40px;
  display: inline;
  position: relative;
}

.menu .nav-list li a {
  color:var(--cor-primaria);
  text-decoration:none;
  display: inline-block;
  padding: 10px;
  transition: background .3s;
}

.menu .nav-list li a:hover {
  background-color: var(--cor-hover);
}

.menu .nav-list ul {
  display: none;
  margin-left: -17px;
  left: 0;
  position:absolute;
}

.menu .nav-list li:hover ul {
  display: block;
}

.menu .nav-list ul {
  background-color: var(--cor-fundo);
  width: 150px;
  margin-left: -40px;
}

.menu .nav-list ul li a {
  margin-right: 50px;
  display:block;
} 

.hamburger {
  position: relative;
  width: 30px;
  margin-top: 180px;
  margin-left: 900px;
  height: 4px;
  background: black;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: black;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;
  width: 20px;
}

.hamburger:after {
  top: 10px;
  width: 25px;
}

.toggle-menu {
  position: absolute;
  width: 30px;
  margin-top: 180px;
  margin-left: 900px;
  height: 100px;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-menu {
  display: none; 
}

.menu input:checked ~ .hamburger {
  background: transparent;
}

.menu input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.menu input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.menu input:checked ~ .nav-list{
  right: 50px;
}


