header.main-banner {
    background: url('../../assets/tecnologia_Foto-ilustrativa-Freepik-capa.jpg') no-repeat;
    width: 100%;
    max-width: 1325px;
    float: left;
    text-align: center;
    padding: 3% 4%;
}

.search-form {
    position: relative;
    width: 80%;
    margin-left: -200px;
    margin-right: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

.search-form h1 {
    font-size: 40px;
    color:white;
}
